<%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Welcome to <%= message %></p>

    <p>Welcome to <%= image %></p>
<%- include partials/footer.ejs %>
